<html>
  <head><title>Web Guesser</title></head>
    <style>body {
        background: <%= background_color %>;
      }</style>
      <body>
        <h1>Web Guesser</h1>
        <h2><%= message %></h2>
  <p>The SECRET NUMBER is <%= number %></p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
